
<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Nest Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="assets/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" />
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
            </div>
        </div>
          <nav>
                <ul class="menu-aside">
                    <li   class="menu-item "   >
                        <a class="menu-link" href="/admin/dashboard">
                            <i class="icon material-icons md-home"></i>
                            <span class="text">Dashboard</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/dashboard">View Dashboard</a>
                           
                        </div>
                    </li>
                    <li class="menu-item has-submenu active">
                        <a class="menu-link" href="/admin/products">
                            <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Products</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/viewProducts">Product List</a>
                           
                        </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="/admin/viewUser">
                            <i class="icon material-icons md-person"></i>
                            <span class="text">Users</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/viewUser">Users list </a>
                           
                        </div>
                    </li>
                  
                  
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="/adminordersList">
                            <i class="icon material-icons md-monetization_on"></i>
                            <span class="text">View Orders</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/ordersList">Orders</a>
                            
                        </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="#">
                            <i class="icon material-icons md-person"></i>
                            <span class="text">Category</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/category">Category</a>
                           
                        </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="/admin/coupons">
                            <i class="icon material-icons md-local_activity"></i>
                            <span class="text">Coupons</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/coupons">Coupons List</a>
                           
                        </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="">
                            <i class="icon material-icons md-local_offer"></i>
                            <span class="text">Offers</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/offer">Offers List</a>
                            <a href="/admin/referalOffer">Referal Offer</a>
                           
                        </div>
                    </li>
                   <li class="menu-item has-submenu ">
                        <a class="menu-link" href="/admin/orderReport">
                            <i class="icon material-icons md-post_add"></i>
                            <span class="text">Report</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/orderReport">Sales Report</a>
                           
                        </div>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/logout">
                            <i class="icon material-icons md-login"></i>
                           <span class="text">Logout</span>
                        </a>
                    </li>
                   
                </ul>
                <br />
                <br />
            </nav>
    </aside>
    <main class="main-wrap">
        
        <section class="content-main">
            <div class="row">
                <div class="col-6">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <form enctype="multipart/form-data">
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label id="titleLabel" class="form-label">Product title</label>
                                            <input type="text" placeholder="Type here" id="title" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label id="categoryLabel">Category</label>
                                            <select class="form-select"  id="category">
                                                <option selected disabled value="">Choose Category </option>
                                                <% for (let i = 0; i < category.length; i++) { %>
                                                    <option value="<%= category[i]._id %>"><%= category[i].name %></option>
                                                <% } %>
                                            </select>
                                        </div>
                                        <div class="mb-4">
                                            <label id="descriptionLabel" class="form-label">Description</label>
                                            <input placeholder="Type here" class="form-control" id="description" rows="4"></input>
                                        </div>
                                       
                                    </div>
                                </div> 
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>2. Pricing</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label id="priceLabel" class="form-label">Cost in Rs</label>
                                            <input type="number" min="50" max="9999" placeholder="Rs.00.0" id="price" class="form-control" required>
                                        </div>
                                    </div> 
                                </div> 
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>Stock</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label id="stockLabel" class="form-label">Stock</label>
                                            <input type="number"  id="stock" class="form-control" required>
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                   
                                   <div class="card mb-4 col-12">
                                   
                                    <div class="card-body">
                                     
                                        <div class="row">
                                            <% for (let i = 0; i < 4; i++) { %>
                                                <div class="col-3 mb-3 d-flex flex-column align-items-center">
                                                <label for="file-upload<%= i %>" id="fileUploadLabel<%=i%>" class="form-label">Upload Image <%= i + 1 %></label>
                                                <input 
                                                    name="file" 
                                                    id="file-upload<%= i %>" 
                                                    onchange="preview('<%= i %>')"  
                                                    type="file" 
                                                    required
                                                    class="form-control mb-2"  
                                                />
                                                    <img 
                                                        src="" 
                                                        alt="Preview" 
                                                        id="file-preview<%= i %>" 
                                                        style="width: 200px; height: 150px; border-radius: 10px; object-fit: cover; border: 1px solid #ccc;" 
                                                    />
                                                    </div>
                                                <% } %>                                     
                                    </div>
                                  </div>
                                  <div class="mb-4">
                                    <button type="button" id="button" onclick="handleClick()" class="btn btn-primary w-25">Add Product</button>
                                    <a href="/admin/viewProducts" class="btn btn-primary w-25">Back</button></a>
                                </div>
                                </form>
                            </div> 
                            
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> &copy; Nest - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script>

        function preview(id) {
          const input = document.getElementById(`file-upload${id}`);
          const file = input.files
                if (file) {
                    const fileReader = new FileReader();
                    const preview = document.getElementById(`file-preview${id}`);
                    fileReader.onload = function (event) {
                        preview.setAttribute('src', event.target.result);
                    }
                    fileReader.readAsDataURL(file[0]);
                }
          
        }
        
    </script>
    <script>
        function handleClick() {
            
            const title =  document.getElementById("title").value.trim();
            const titleLabel =  document.getElementById("titleLabel");
            const description =  document.getElementById("description").value.trim();
            const descriptionLabel =  document.getElementById("descriptionLabel");
            const price =  document.getElementById("price").value.trim();
            const priceLabel =  document.getElementById("priceLabel");
            const stock =  document.getElementById("stock").value.trim();
            const stockLabel =  document.getElementById("stockLabel");
            const category =  document.getElementById("category").value;
            const categoryLabel =  document.getElementById("categoryLabel");

            const upload0 =  document.getElementById("file-upload0").files[0]
            const upload1 =  document.getElementById("file-upload1").files[0]
            const upload2 =  document.getElementById("file-upload2").files[0]
            const upload3 =  document.getElementById("file-upload3").files[0]

            const fileUploadLabel0 =  document.getElementById("fileUploadLabel0")
            const fileUploadLabel1 =  document.getElementById("fileUploadLabel1")
            const fileUploadLabel2 =  document.getElementById("fileUploadLabel2")
            const fileUploadLabel3 =  document.getElementById("fileUploadLabel3")
            console.log(stock);
            
            const button =  document.getElementById("button")
            // console.log(button);

            let error = false;

            if(title.length == 0){
             titleLabel.style.color="red"
             error = true;
            }else{
             titleLabel.style.color=""
            }
            if(description.length == 0){
             descriptionLabel.style.color="red"
             error = true;
            }else{
             descriptionLabel.style.color=""
            }
            if(price.length == 0){
             priceLabel.style.color="red"
             error = true;
            }else{
             priceLabel.style.color=""
            }
            if(stock.length == 0){
             stockLabel.style.color="red"
             error = true;
            }else{
             stockLabel.style.color=""
            }

            if(category.length == 0){
             categoryLabel.style.color="red"
             error = true;
            }else{
             categoryLabel.style.color=""
            }

            if(!upload0){
             fileUploadLabel0.style.color="red"
             error = true;
            }else{
             fileUploadLabel0.style.color=""
            }
            if(!upload1){
             fileUploadLabel1.style.color="red"
             error = true;
            }else{
             fileUploadLabel1.style.color=""
            }
            if(!upload2){
             fileUploadLabel2.style.color="red"
             error = true;
            }else{
             fileUploadLabel2.style.color=""
            }
            if(!upload3){
             fileUploadLabel3.style.color="red"
             error = true;
            }else{
             fileUploadLabel3.style.color=""
            }

            if(error){
                Swal.fire({
                    title:"Error!.",
                    text: "Please Provide All Informations!.",
                    icon: "warning",
                });
                return;
            } 

            const formData = new FormData();
            formData.append("title",title)
            formData.append("description",description)
            formData.append("category",category)
            formData.append("stock",stock)
            formData.append("price",price)
            for (let i = 0; i < 4; i++) {
                
                formData.append(`file-upload${i}`,document.getElementById(`file-upload${i}`).files[0])
            }

           

             Swal.fire({
                    title: "Are you sure?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: `Yes`
                    }).then((result)=>{
                        if(result.isConfirmed){
                           button.disabled =true
                            button.innerHTML =button.innerHTML = `
                                    <div class="spinner-border spinner-border-sm me-2" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    Loading...
                                    `;
                               fetch(`/admin/addProducts`,{method:"POST",body:formData,"Content-Type":"multipart/form-data"}).then((res)=>res.json())
                               .then((res)=>{
                                  if(res.success){
                                    Swal.fire({
                                        title:"Success!.",
                                        text:res.message,
                                        icon: "success",
                                    });
                                    button.disabled =true;
                                    window.location.href="/admin/viewProducts";
                                }else{
                                    button.disabled =false
                                    button.innerText="Edit Product"
                                    Swal.fire({
                                        title:"Error!.",
                                        text:res.message,
                                        icon: "warning",
                                    });
                                }
                            })
                        }
                    })
        }
    </script>
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Main Script -->
    <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
</body>

</html>