
<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Nest Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="assets/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" />
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li   class="menu-item "   >
                    <a class="menu-link" href="/admin/dashboard">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/dashboard">View Dashboard</a>
                       
                    </div>
                </li>
                <li class="menu-item has-submenu active">
                    <a class="menu-link" href="/admin/products">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/viewProducts">Product List</a>
                       
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/viewUser">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/viewUser">Users list </a>
                       
                    </div>
                </li>
              
              
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/viewOrders">
                        <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">View Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/ordersList">Orders</a>
                        
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">Category</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/category">Category</a>
                       
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/coupons">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Coupons</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/coupons">Coupons List</a>
                       
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Offers</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/offer">Offers List</a>
                       
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/weaklyReport">
                        <i class="icon material-icons md-post_add"></i>
                        <span class="text">Report</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/weaklyReport">weakly Report</a>
                        <a href="/admin/monthlyReport">Monthly Report</a>
                        <a href="/admin/yearlyReport">Yearly Report</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/logout">
                        <i class="icon material-icons md-comment"></i>
                        <span class="text">Logout</span>
                    </a>
                </li>
               
            </ul>
            <br />
            <br />
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assets/imgs/people/avatar-2.png" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="row">
                <div class="col-6">
                    <div class="content-header">
                        <h2 class="content-title">Edit Product</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <form   enctype="multipart/form-data">
                                    <div class="form-group">
                                        
                                     </div>   
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label id="titleLabel" class="form-label">Product title</label>
                                            <input type="text" id="title" value="<%=productData.name%>" name="name" class="form-control" required>
                                            <input id="id" type="hidden" value="<%=productData._id%>">
                                            </div>
                                        <div class="form-group">
                                            <label id="categoryLabel">Category</label>
                                            <select class="form-control" id="category" name="category">
                                                <% for (let i = 0; i < category.length; i++) { %>
                                                    <option value="<%= category[i]._id %>"><%= category[i].name %></option>
                                                <% } %>
                                            </select>
                                        </div>
                                        <div class="mb-4">
                                            <label id="descriptionLabel" class="form-label">Description</label>
                                            <input id="description" value="<%=productData.Description%>" class="form-control" name="Description" rows="4"></input>
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>2. Pricing</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label id="priceLabel" class="form-label">Cost in Rs</label>
                                            <input  id="price" type="text" value="<%=productData.Price%>" name="Price" class="form-control" required>
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>Stock</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label id="stockLabel" class="form-label">Stock</label>
                                            <input id="stock" type="text" value="<%=productData.stock%>" name="stock" class="form-control" >
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                   
                                   <div class="card mb-4">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                      <h5 class="mb-0 card-title">Media</h5>
                                      <a href="javascript:void(0);" class="fw-medium">Add media from URL</a>
                                    </div>
                                    <div class="card-body">
                                             <div class="row">
                                            <% for (let i = 0; i < productData.image.length; i++) { %>
                                                <div class="col-3 mb-3 d-flex flex-column align-items-center">
                                                <label id="fileUploadLabel<%=i%>" for="file-upload<%= i %>" class="form-label">Upload Image <%= i + 1 %></label>
                                                <input 
                                                    name="file" 
                                                    id="file-upload<%= i %>" 
                                                    onchange="preview('<%= i %>')"  
                                                    type="file" 
                                                    required
                                        
                                                    accept="image/*"
                                                    class="form-control mb-2"  
                                                />
                                                    <img 
                                                        src="<%=productData.image[i].secure_url%>" 
                                                        alt="Preview" 
                                                        id="file-preview<%= i %>" 
                                                        style="width: 200px; height: 150px; border-radius: 10px; object-fit: cover; border: 1px solid #ccc;" 
                                                    />
                                                    </div>
                                                <% } %>                                     
                                    </div>
                                                
                                           
                                    </div>
                                  </div>
                                
                                 
                                    <div class="mb-4">
                                    
                                    <button type="button" id="button"  class="btn btn-primary w-100" onclick="handleEdit('<%=productData._id%>')" >Edit Product</button>
                                    
                                </div>
                                
                                 
                                </form>
                               
                          
                            </div>  <!--row end// --> 
                            
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> &copy; Nest - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
   
    <script>
        function handleEdit(_id) {
             
            const title =  document.getElementById("title").value.trim();
            const titleLabel =  document.getElementById("titleLabel");
            const description =  document.getElementById("description").value.trim();
            const descriptionLabel =  document.getElementById("descriptionLabel");
            const price =  document.getElementById("price").value.trim();
            const priceLabel =  document.getElementById("priceLabel");
            const stock =  document.getElementById("stock").value.trim();
            const stockLabel =  document.getElementById("stockLabel");
            const category =  document.getElementById("category").value.trim();
            const categoryLabel =  document.getElementById("categoryLabel");

            const upload0 =  document.getElementById("file-upload0").files[0]
            const upload1 =  document.getElementById("file-upload1").files[0]
           
           
            const upload2 =  document.getElementById("file-upload2").files[0]
            const upload3 =  document.getElementById("file-upload3").files[0]
            const fileUploadLabel0 =  document.getElementById("fileUploadLabel0")
            const fileUploadLabel1 =  document.getElementById("fileUploadLabel1")
            const fileUploadLabel2 =  document.getElementById("fileUploadLabel2")
            const fileUploadLabel3 =  document.getElementById("fileUploadLabel3")

            const button =  document.getElementById("button")
            
            let error = false;

            if(title.length == 0){
             titleLabel.style.color="red"
             error = true;
            }else{
             titleLabel.style.color=""
            }
            if(description.length == 0){
             descriptionLabel.style.color="red"
             error = true;
            }else{
             descriptionLabel.style.color=""
            }
            if(price.length == 0){
             priceLabel.style.color="red"
             error = true;
            }else{
             priceLabel.style.color=""
            }
            if(stock.length == 0){
             stockLabel.style.color="red"
             error = true;
            }else{
             stockLabel.style.color=""
            }

            if(category.length == 0){
             categoryLabel.style.color="red"
             error = true;
            }else{
             categoryLabel.style.color=""
            }



            if(error){
                Swal.fire({
                    title:"Error!.",
                    text: "Please Provide All Informations!.",
                    icon: "warning",
                });
            return;
            }
           
            
            const formData = new FormData();
            formData.append("title",title)
            formData.append("description",description)
            formData.append("category",category)
            formData.append("stock",stock)
            formData.append("price",price)
            for (let i = 0; i < 4; i++) {
                
                formData.append(`file-upload${i}`,document.getElementById(`file-upload${i}`).files[0])
            }
           
      
            button.disabled =true
            button.innerHTML =button.innerHTML = `
                    <div class="spinner-border spinner-border-sm me-2" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    Loading...
                    `;

            fetch(`/admin/editProducts?_id=${_id}`,{method:"PATCH",body:formData,"Content-Type":"multipart/form-data"}).then((res)=>res.json())
            .then((res)=>{
             
                if(res.success){

                    Swal.fire({
                        title:"Success!.",
                        text:res.message,
                        icon: "success",
                    });
                   button.disabled =true
                
                   window.location.href="/admin/viewProducts"
                }else{
                    button.disabled =false
                     button.innerText="Edit Product"
                    Swal.fire({
                        title:"Error!.",
                        text:res.message,
                        icon: "warning",
                    });
                }
            })

        }
    </script>
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.js"></script>
    <script>

        function preview(id) {
          const input = document.getElementById(`file-upload${id}`);
          const file = input.files
                if (file) {
                    const fileReader = new FileReader();
                    const preview = document.getElementById(`file-preview${id}`);
                    fileReader.onload = function (event) {
                      
                        
                        preview.setAttribute('src', event.target.result);
                    }
                    fileReader.readAsDataURL(file[0]);
                }
          
        }
        
    </script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
</body>

</html>