

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Nest Dashboard</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg" />
        <!-- Template CSS -->
        <link href="assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="screen-overlay"></div>
        <aside class="navbar-aside" id="offcanvas_aside">
            <div class="aside-top">
                <a href="index.html" class="brand-wrap">
                    <img src="assets/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" />
                </a>
                <div>
                    <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
                </div>
            </div>
            <nav>
                <ul class="menu-aside">
                    <li   class="menu-item "   >
                        <a class="menu-link" href="/admin/dashboard">
                            <i class="icon material-icons md-home"></i>
                            <span class="text">Dashboard</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/dashboard">View Dashboard</a>
                           
                        </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="/admin/products">
                            <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Products</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/viewProducts">Product List</a>
                           
                        </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="/admin/viewUser">
                            <i class="icon material-icons md-person"></i>
                            <span class="text">Users</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/viewUser">Users list </a>
                           
                        </div>
                    </li>
                  
                  
                    <li class="menu-item has-submenu active">
                        <a class="menu-link" href="/admin/viewOrders">
                            <i class="icon material-icons md-monetization_on"></i>
                            <span class="text">View Orders</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/ordersList">Orders</a>
                            
                        </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="#">
                            <i class="icon material-icons md-person"></i>
                            <span class="text">Category</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/category">Category</a>
                           
                        </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="/admin/coupons">
                            <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Coupons</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/coupons">Coupons List</a>
                           
                        </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="">
                            <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Offers</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/offer">Offers List</a>
                            <a href="/admin/referalOffer">Referal Offer</a>
                           
                        </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="/admin/weaklyReport">
                            <i class="icon material-icons md-post_add"></i>
                            <span class="text">Report</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/weaklyReport">weakly Report</a>
                            <a href="/admin/monthlyReport">Monthly Report</a>
                            <a href="/admin/yearlyReport">Yearly Report</a>
                        </div>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/logout">
                            <i class="icon material-icons md-comment"></i>
                            <span class="text">Logout</span>
                        </a>
                    </li>
                   
                </ul>
                <br />
                <br />
            </nav>
        </aside>
        <main class="main-wrap">
            <header class="main-header navbar">
                <div class="col-search">
                   
                </div>
                <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link btn-icon" href="#">
                                <i class="material-icons md-notifications animation-shake"></i>
                                <span class="badge rounded-pill">3</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                                <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png" alt="English" />English</a>
                                <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png" alt="Français" />Français</a>
                                <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png" alt="Français" />日本語</a>
                                <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png" alt="Français" />中国人</a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assets/imgs/people/avatar-2.png" alt="User" /></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Order List</h2>
                       
                    </div>
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row gx-3">
                            <form  class="col-lg-4 col-md-6 me-auto" >
                                <div >
                                    <input type="search" oninput="handlSearch(this)" id="search" placeholder="Search..." class="form-control" />
                                </div>
                            </form>
                            
                            <div class="col-lg-2 col-6 col-md-3">
                                <select onchange="filterAndsortOrders()" id="filter" class="form-select">
                                    <option selected disabled value="">Status</option>
                                    <option value="return">Return</option>
                                    <option value="canceled">Cancelled</option>
                                    <option value="pending">Pending</option>
                                    <option value="Delivered">Delivered</option>
                                    <option value="Paid">Paid</option>
                                    <option value="Not Paid">Not Paid</option>
                                    <option value="Failed">Failed</option>
                                    <option value="Show all">Show all</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-6 col-md-3">
                                <select onchange="filterAndsortOrders()" id="sort" class="form-select">
                                    <option value="" selected disabled>Sort</option>
                                    <option value="All" >All</option>
                                    <option value="New" >New</option>
                                    <option value="Old" >Old</option>
                                    <option value="Name A - Z" >Name A - Z</option>
                                    <option value="Name Z - A" >Name Z - A</option>
                                </select>
                            </div>
                        </div>
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th> 
                                        <th scope="col">Payment</th>
                                        <th scope="col">Delivery Status</th>
                                        <th scope="col">Date</th>
                                        
                                    </tr>
                                </thead>
                              
                                <tbody id="table">
                                    <%
                                    if(orderData.length>0){
                                for(let i=0;i<orderData.length;i++){
                                        %>
                                         <tr> 
                                            <td>
                                                <a href="/admin/orderDetailes?_id=<%=orderData[i]._id%>&productId=<%=orderData[i].productId._id%>">
                                                    <img src="<%=orderData[i].productId.image[0].secure_url%>" width="40" height="40" class="img-xs" alt="Item" />
                                                    </a>                       
                                            </td>      
                                        <td><%=orderData[i].productId.name%></td> 
                                       
                                        <td><span class="badge rounded-pill alert-warning"><%=orderData[i].paymentStatus%></span></td>
                                        <td><span class="badge rounded-pill  <%=orderData[i].productStatus == "pending" || orderData[i].productStatus=="Delivered" ?"btn-success":"btn-danger" %>" ><%=orderData[i].productStatus%></span></td>                                
                                    
                                       
                                        <td><%=new Date(orderData[i].orderDate).toLocaleDateString()%></td>
                                      
                                    </tr>
                                        <%
                                }
                                }else{
                                    %>

                                    <tr>
                                    <td>
                                        no order
                                    </td>
                                    </tr>
                                    <%
                                }
                                    %>            
                                   
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                  
                </div>
               
                 <div class="pagination-area mt-15 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <input type="hidden" id="totalPage" value="<%=totalPage%>">
                             <li class="page-item "><a class="page-link" onclick="handlePage('decrement')" ><</a></li>
                             <li  class="page-item active"><a id="page" class="page-link" >1</a></li>
                             <li class="page-item "><a class="page-link" onclick="handlePage('increment')"  >></a></li>
                        </ul>
                    </nav>
                </div>
            </section>
           
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>

         <script>
            function filterAndsortOrders() {
                 const sort = document.getElementById("sort").value
                 const filter = document.getElementById("filter").value
                 const search = document.getElementById("search").value
                 let page = document.getElementById("page")
                 let totalPage = document.getElementById("totalPage")
                 console.log(totalPage,"tit");
                 
                 fetch(`/admin/filterAndsortOrders?filter=${filter}&&search=${search}&&sort=${sort}`).then((res)=>res.json())
                 .then((res)=>{
                     console.log(res);
                     
                     totalPage.value = res.totalPage;
                     if(res.products.length == 0){
                        document.getElementById("page").innerText=0;
                        document.getElementById("table").innerHTML=
                                       `
                                        <tr>
                                            <td colspan="3">Orders Not Found</td>
                                        </tr>
                                       
                                        `
                     }else{
                         document.getElementById("page").innerText=1;
                         document.getElementById("table").innerHTML=
                         res.products.map((order) => {
                           return `
                              <tr> 
                                            <td>
                                                <a href="/admin/orderDetailes?_id=${order._id}&&productId=${order.productId._id}">
                                                    <img src="${order.productId.image[0].secure_url}" width="40" height="40" class="img-xs" alt="Item" />
                                                    </a>                       
                                            </td>      
                                        <td>${order.productId.name}</td>                                 
                                        <td><span class="badge rounded-pill alert-warning">${order.paymentStatus}</span></td>
                                         <td><span class="badge rounded-pill ${order.productStatus == "pending" || order.productStatus == "Delivered" ? "btn-success":"btn-danger"} ">${order.productStatus}</span></td>
                                        <td>${new Date(order.orderDate).toLocaleDateString()}</td>
                                      
                                    </tr>
                           `
                        }).join("");
                     }
                 })
            }
        </script>
         <script>
            function handlePage(action) {
               
                
                const sort = document.getElementById("sort").value;
                const filter = document.getElementById("filter").value;
                const totalPage = document.getElementById("totalPage").value;
                const search = document.getElementById("search").value;
                let table = document.getElementById("table");
                let page = document.getElementById("page");
                  
                 if(action == "increment" && page.innerText*1<totalPage){
                  page.innerText++
                 }else if(action == "decrement" && page.innerText*1 >1){
                  page.innerText--
                 }else{
                    return;
                 }
                
                fetch(`/admin/ordersPagination?search=${search}&&page=${page.innerText}&&sort=${sort}&&filter=${filter}`).then((res)=>res.json())
                .then((res)=>{
                  console.log(res,"res4");
                  
                    table.innerHTML=
                        res.orders.map((order) => {
                           return `
                           <tr> 
                                        <td>
                                                <a href="/admin/orderDetailes?_id=${order._id}&&productId=${order.productId._id}">
                                                    <img src="${order.productId.image[0].secure_url}" width="40" height="40" class="img-xs" alt="Item" />
                                                    </a>                       
                                        </td>      
                                        <td>${order.productId.name}</td>                                 
                                        <td><span class="badge rounded-pill alert-warning">${order.paymentStatus}</span></td>
                                         <td><span class="badge rounded-pill  ${order.productStatus == "pending" || order.productStatus=="Delivered" ?"btn-success":"btn-danger"}" >${order.productStatus}</span></td>                                
                                        
                                        <td>${new Date(order.orderDate).toLocaleDateString()}</td>
                                      
                                    </tr>
                           `
                        }).join("");
                })
            }
        </script>

         <script>
            function handlSearch(tag) {
                console.log(tag.value);
                
                let totalPage = document.getElementById("totalPage");
                fetch(`/admin/searchOrders?search=${tag.value.trim()}`).then((res)=>res.json())
                .then((res)=>{
                    console.log(res,"ress");
                    document.getElementById("sort").value = ""
                    document.getElementById("filter").value = ""
                    totalPage.value = res.totalPage 
                    if(res.orders.length == 0){
                        document.getElementById("page").innerText=0
                        document.getElementById("table").innerHTML=
                    `
                                       <tr>
                                            <td colspan="3">Orders Not Found</td>
                                        </tr>
                    `
                    }else{
                         document.getElementById("page").innerText=1;
                         document.getElementById("table").innerHTML=
                         res.orders.map((order) => {
                           return `
                              <tr> 
                                        <td>
                                                <a href="/admin/orderDetailes?_id=${order._id}&&productId=${order.productId._id}">
                                                    <img src="${order.productId.image[0].secure_url}" width="40" height="40" class="img-xs" alt="Item" />
                                                    </a>                       
                                        </td>      
                                        <td>${order.productId.name}</td>                                 
                                        <td><span class="badge rounded-pill alert-warning">${order.paymentStatus}</span></td>
                                        <td><span class="badge rounded-pill ${order.productStatus == "pending" || order.productStatus == "Delivered" ? "btn-success":"btn-danger"} ">${order.productStatus}</span></td>
                                        <td>${new Date(order.orderDate).toLocaleDateString()}</td>
                                      
                                    </tr>
                           `
                        }).join("");
                       
                    }
     
                })
            }
        </script>
        <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendors/select2.min.js"></script>
        <script src="assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
    </body>
</html>
