<div class="card-body">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>                      
                    <th class="align-middle" scope="col">Si.Ni</th>
                    <th class="align-middle" scope="col">Order Id</th>
                    <th class="align-middle" scope="col">Billing Name</th>
                    <th class="align-middle" scope="col">Billing Address</th>
                    <th class="align-middle" scope="col">Products Name</th>
                    <th class="align-middle" scope="col">Product Status</th>
                    <th class="align-middle" scope="col">Payment Method</th>
                    <th class="align-middle" scope="col">Date</th>
                    <th class="align-middle" scope="col">Quandity</th>
                    <th class="align-middle" scope="col">Products Price</th>
                    <th class="align-middle" scope="col">Discount Amount</th>
                    <th class="align-middle" scope="col">Product Total</th>
                </tr>
            </thead>
            <tbody>
                <%
                 let total = 0;
                 let discount = 0;
                 %>
                <%
                  orderData.map((order,index)=>{
                    total+=order.products.productTotal;
                    discount+=order.couponOfferPrice;
                     %>
                        <tr>
                            <td class="text-center align-middle"><%=index+1%></td>
                            <td><%=order._id%></td>
                            <td class="text-center align-middle"><%=order.userId.name%></td>
                            <td class="text-center align-middle"><%=order.products.deliveryAddress.address%></td>
                            <td class="text-center align-middle"><%=order.products.productId.name%></td>
                            <td class="text-center align-middle"><%=order.products.productStatus%></td>
                            <td class="text-center align-middle"><%=order.products.paymentMethod%></td>
                            <td class="text-center align-middle"><%= new Date(order.createdAt).toLocaleDateString()%></td>
                            <td class="text-center align-middle"><%=order.products.quandity%></td>
                            <td class="text-center align-middle"><%=order.products.productId.Price%></td>
                            <td class="text-center align-middle"><%=order.couponOfferPrice%></td>
                            <td class="text-center align-middle"><%=order.products.productTotal -  order.couponOfferPrice%></td>
                         </tr>
                     <%
                  })
                %>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Total :</td>
                  <td><%=total%></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Discount :</td>
                  <td><%=discount%></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Grand Total :</td>
                  <td><%= total-discount %></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>