<div class="card-body">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                  
                    
                    <th scope="col">User Name</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Product Status</th>
                    <th scope="col">Actual price</th>
                    <th scope="col">Product price</th>
                    <th scope="col">Product Quandity</th>
                    <th scope="col">Offer price</th>
                    <th scope="col">Total price</th>
                   
                </tr>
            </thead>
            <tbody>
                <%
                  orderData.map((order)=>{
                     %>
                       <tr>                              
                        <td><%=order.deliveryAddress.fname%></td>
                        <td><%=order.productId.name%></td>
                        <td><%=new Date(order.orderDate).toLocaleDateString() %></td>
                        <td><span class="badge rounded-pill alert-warning"><%=order.productStatus%></span></td>
                        <td><%=order.productId.Price%></td>
                        <td><%=Math.ceil(order.productTotal/order.quandity)%></td>
                        <td><%=order.quandity%></td>
                        <td><%=order.productId.Price-Math.ceil(order.productTotal/order.quandity)%></td>
                        <td><%=order.productTotal%></td> 
                    </tr>
                     <%
                  })
                %>
              
            </tbody>
        </table>
    </div>
    <!-- table-responsive //end -->
</div>